@font-face {
  font-family: "Gotham";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/GothamBook.woff2") format("woff2");
}

@import "tailwindcss";

/*Here is where the custom colour/gotham font is, use the figma to identify the colour
or just learn how to read hex*/

@theme {
  --color-primary: #300f95;
  --color-secondary: #8861ff;
  --color-background: #1c0f43;
  --color-brand: #40ffac;
  --color-accent: #e58510;

  --font-gotham: "Gotham", sans-serif;
}

body {
  background-color: var(--color-background);
  color: white;
  font-family: "Gotham";
}
